.main-chat
  .group-info
    .group-info__left
      .group-info__left__current-group
        = @group.name
      %ul.members
        Member：
        - @group.users.each do |user|
          %li.member__list
            = user.name

    .group-info__right
      = link_to edit_group_path(@group.id), class: "group-info__right__edit" do
        Edit




  .message-list
    .messages
      = render @messages
    -# .message-list__box
    -#   .message-list__box__info
    -#     .message-list__box__info__member-name
    -#       kawasaki
    -#     .message-list__box__info__time-stomp
    -#       2020/01/01(Mom) 10:11:00
    -#   .message-list__box__text
    -#     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolores reiciendis totam saepe, praesentium veniam aliquam delectus recusandae harum! Nobis vero totam possimus laboriosam veniam in ipsa natus dolorem ab!
    -# .message-list__box
    -#   .message-list__box__info
    -#     .message-list__box__info__member-name
    -#       kawaguchi
    -#     .message-list__box__info__time-stomp
    -#       2020/03/01(Mom) 10:11:00
    -#   .message-list__box__text
    -#     Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ducimus sint repudiandae, nesciunt praesentium dolores quo vel inventore, et, vero optio quod nemo. Soluta nihil odit voluptatibus iste repellat eveniet?




  .form
    = form_for [@group, @message] do |f|
      .form__message
        .input-box
          = f.text_field :content ,class: "input-box__text" , placeholder: "type a message"
          = f.label :image , class: "input-box__image" do
            = icon('fas', 'image')
            = f.file_field :image, class: "input-box__image__file"
        = f.submit 'Send', class: "submit-btn"


  -# .form 
  -#   %form.form__message
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input{type: "submit" , class: "submit-btn", value: "Send"}
  
