
.side-bar__header
  .side-bar__header__box
    %p
      kawasaki
    %ul.side-bar__header__box__menu
      %li
        = link_to "#" , class: "side-bar__header__box__menu__new-group" do
          = icon('fa', 'edit')
      %li
        = link_to "#" , class: "side-bar__header__box__menu__edit" do
          = icon('fa', 'cog')

.group-list
  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません

  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません

  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません
