
.side-bar__header
  .side-bar__header__box
    %h3
      =current_user.name
    %ul.side-bar__header__box__menu
      %li
        = link_to new_group_path , class: "side-bar__header__box__menu__new-group" do
          = icon('fas', 'edit')
      %li
        = link_to edit_user_path(current_user) , class: "side-bar__header__box__menu__edit" do
          = icon('fas', 'cog', class: 'icon')

.group-list
  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません

  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません

  .group-list__group
    .roup-list__group__name
      = link_to "#" , class: "group-list__group" do
        techcamp
    .group-list__group__new-message
      = link_to "#" , class: "group-list__group" do
        まだメッセージがありません
